<header>
<div  class='Header' >
  <h1>
    TWO-PIZZA TEAM <br/>
    WITH KYANON DIGITAL 
  </h1>
</div>
<div >
  <img class="logo" src="assets\image.png">
</div>
<div class="content">
  <h2>
  <div class="CEOname">  
  HIEN PHAN (Ms)<br/>
  </div>
  <div class="CEOcontent">
  REGIONAL BUSINESS DIRECTOR
  </div>
  </h2>
  <h3>
    <img src='assets\mail-ic.png'>
    hien.phan@kyanon.digital
  </h3>
  <h3>
    <img src='assets\phone-ic.png'>
    +65 9660 9586
  </h3>
  <h3>
    <img src='assets\loca-ic.png'>
    Head Office: 29A Cuppage Road, Cuppage Terrance, Singapore 229456<br/>
    Production House: 294-296 Truong Sa, Phu Nhuan, HCMC, Vietnam
  </h3>      
  <h3>
    <img src='assets\link-ic.png'>  
    Website: Kyanon.digital/the-two-pizza-team
  </h3>
<br>
<ngbd-modal-basic></ngbd-modal-basic><br/>

